@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@700&family=Pacifico&family=Work+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: lavender;
}

.shopHeaderAndControls {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #babaf1;
  padding-left: 30px;
  padding-right: 20px;
  width: 22vw;
  min-width: 220px;
  overflow-y: auto;
}

.items {
  overflow-y: scroll;
  overflow-x: hidden;
}

h1 {
  font-family: "Hind Madurai", sans-serif;
  font-family: "Pacifico", cursive;
  font-size: calc(22px + 1.1vw);

  /* font-size: 2.7vw; */
  padding-bottom: 0px;
  margin-bottom: 0px;
}

h2 {
  font-family: "Fredoka One", cursive;

  font-size: calc(16px + 0.4vw);
  padding-top: 0px;
  margin-top: 0px;
  font-weight: 100;
}
